@model IEnumerable<ServiceWeb.Models.Photo>
@{
    ViewBag.Title = "Index";
}

<h2>Photos</h2>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src=@Html.DisplayFor(modelItem => item.ThumbPath) alt=@Html.DisplayFor(modelItem => item.Label) width="242" height="200" class="img-circle">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Label)</h3>
                    <p>@Html.DisplayFor(modelItem => item.TakenMonth).@Html.DisplayFor(modelItem => item.TakenYear)</p>
                    <p><a href="" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Delete</a></p>
                </div>
            </div>
        </div>
    </div>
}

